@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Poppins:ital,wght@0,300;0,600;0,700;1,100&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Peta', sans-serif;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/desk-593327_960_720.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800;
    text-align: center;


}
.contact .content h2{
    font-size: 35px;
    font-weight: 500;
    color: green;
    margin-bottom: 20px;
}
.contact .content p{
    font-weight: 300;
    color: white;
}
 .container{
    width: 100%;
    
    justify-content: center;
    align-items: center;
    margin-top: 3opx;
} 
.container .contactInfo{
    display: flex;
    width: 50%;
    flex-direction: column;
} 
.container .contactInfo .box{
    position: relative;
    padding: 20px;
    display: flex;
} 
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text h3{
    display: flex;
    margin-left: 20px;
    color: sienna;
    font-size: 16px;
    /* flex-direction: column; */
    font-weight: 300;
}
.container .contactInfo .box .text p{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: green;
    font-weight: 300;
}
.contactForm{
    padding: 40px;
    width: 40%;
    background: white;
}
.contactForm h2{
    font-size: 30px;
    color: yellowgreen;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: green;
    font-size: 12px;
    transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3%;
    font-size: 18px;
}
footer{
    background-color: green;
    position: absolute;
    width: 100%;
    color: white;
}
header{
    height: 10vh;
    background-color: green;
    color: white;
    
}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 30px;
    color: black;
}
footer{
    height: 15vh;   
}
footer h2{
    position: absolute;
    left: 40%;
    bottom: 50px;
}
.nav{
    position: absolute;
    width: 100%;
}
.nav a{
    position: relative;
    left: 60%;
    top: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
footer p{
    position: absolute;
    left: 48%;
    bottom: 20px;
    color: white;
}

