
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
}

.nav{
    width: 100vw;
    overflow-x: hidden;
    background-color: #236C21;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    height: 80px;

}

.nav #logo{
    color: white;
   font-size: 50px;
   padding-left: 100px;
}

.nav ul{
    display: inline-flex;
    list-style: none;
    padding-right: 100px;
}

.nav ul a{
    display: inline-flex;
    list-style: none;
    padding-left: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


.hero{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
   
}

.hero h1{
    font-size: 65px;
    margin-bottom: 40px;
    font-family: 'Lobster', cursive;
}

.hero a{
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(45, 82, 8);
    padding: 10px;
    border-radius: 10px;
    color: cornsilk;
    font-weight: bold;
}

.vegy-products, .cereal-products{
    align-items: center;
    text-align: center;
    padding: 10px 100px;
}

.vegy-products h1 span, .cereal-products h1 span{
   color: darkgreen;
}

.v-products, .c-products{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
   margin-top: 20px;

}

.product{
align-items: center;

}

.product .item{
    width: 80%;
    height: 70%;
}

.product p{
   margin: 3px 0;
   font-size: 20px;
}

.product p{
    padding: 3px 10px;
    font-size: 20px;
 }

 .product #btn{
padding: 4px 20px;
font-size: 18px;
border-radius: 5px;
border: none;
background-color: #3ECD1A;
color: white;
 cursor: pointer;
 }
 
#main{
    display: flex;
}

th, td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    font-size: 18px;
    padding-left: 7px;
  }

 #ttl ,#total{
      font-size: 30px;
      padding-left: 7px;
  }
  .order h3{
      padding-top: 10px;
      padding-left: 7px;
  }

  .order{
    position: sticky;
    top: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 500px;
    width: 350px;
  }

  #check-btn{
      width: 80%;
      margin: 10px 25px;
      padding: 5px 0;
      font-size: 18px;
      border: none;
      background-color: rgb(52, 169, 28);
      color: white;border-radius: 2px;
  }
  .p-main{
      width: 80%;
      flex: 0.9;
      margin-bottom: 50px;
  }


  #rmv{
   color: red;
   border: none;
   background-color: transparent;
   cursor: pointer;
  }








  .footer-dark {
      margin-top: 20px;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;

  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  
